h1
{
 text-align: center;   
}
body
{
    color: white;
    text-align: center;
  background: url(Images/Hangmanbackground.jpg)
}

#lose
{
    color: white;
    background-color: red;
}

#wrongLettersBox
{
    color: white;
}
#head
{
    text-align: center;
    position:absolute;
    top: 62%;
    height: 60px;
    right: 44%;
    display:none;
}
#torso
{
    text-align: center;
    position:absolute;
    top: 56%;
    height: 500px;
    right: 21%;
    display:none;

}
#leftleg
{
    text-align: center;
    position:absolute;
    top: 52%;
    height: 500px;
    right: 21%;
    display:none

}
#rightleg
{
    text-align: center;
    position:absolute;
    top: 52%;
    height: 500px;
    right: 21%;
    display:none;

}
#leftarm
{
    text-align: center;
    position:absolute;
    top: 56%;
    height: 500px;
    right: 21.5%;
    display:none

}
#rightarm
{
    text-align: center;
    position:absolute;
    top: 56%;
    height: 500px;
    right: 20.5%;
    display:none;

}

